footer {
    background-color: var(--dark-color);
}
.footerspan {
    color: white;
    font-size: xx-small;
}
a.footerlink::before {
    transform: scale(1.0);
}
.footerlink:hover {
    font-variant-caps: small-caps;
    transform: scale(1.5) translate(-100%, -100%);
    color: #ffee10;
    text-shadow: 0 0 5px #ffef19;
}
/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden;
    /* HIDE SCROLL BAR */
    background: rgba(0, 0, 0, 0);
}

/* (B) MOVING TICKER WRAPPER */
.hmove {
    display: flex;
}

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
    0% {
        transform: translate3d(100%, 0, 0);
    }

    100% {
        transform: translate3d(-1500%, 0, 0);
    }
}

.hmove {
    animation: tickerh linear 60s infinite;
}

    .hmove:hover {
        animation-play-state: paused;
    }