@{
    ViewData["Title"] = "Address-Book: MVC edition";
}

<div class="container py-5  h-100">
    <div class="row">
        <div class="col">
            <h1>"Scroll-A-Dex"</h1>
        </div>
        <div class="col">
            <a class="btn btn-cfOrange nav-link active" asp-area="" asp-controller="Contacts" asp-action="Index" aria-current="page">Scroll-A-Dex</a>
        </div>
    </div>    
</div>



